body, html {
  margin: 0;
  padding: 0;
}
.titulinis {
  height: 300px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #efefef url("../images/fonas.jpg") no-repeat fixed top right;
  background-size: cover;
}
.logo {
  margin: 10px;
  position: relative;
  height: 100px;
  width: auto;
  float: left;
}
nav {
  float: right;
}
.meniu li {
  margin: 5px;
  position: relative;
  list-style-type: none;
  padding: 5px;
  display: inline-block;
  font-size: 18px;
}
.pavadinimas {
}
.apie {
  margin: 5px;
  justify-content: center;
  font-size: 18px;
  font-family: sans-serif;
}

#darbai div {
  margin: 5px;
  position: relative;
  height: auto;
  width: auto;
  display: inline-block;
}
h1, nav ul {
  margin: 0;
}
#faktai {
  margin: 5px;
}
#kontaktai {
  margin: 5px;
}
.rekvizitai {
  margin: 5px;
}
